.zodiac-sign{
  display: flex;
  height: 80px;
  width: 70px;
  border: 3px ridge black;
margin: 1em;
justify-content: center;
}
.zodiac{
  display: flex;
border: 3px ridge plum;
flex-wrap:wrap;
width: 400px;
height: 500px;

}
.App{

  width: 70%;
  margin: 2em auto;
  text-align: center;

}

.horosope{
  display: flex;
    justify-content: center;
}
